button
{
    background-color: #0066cc;
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover
{
    background-color: black;
    color: white;
}

#icon {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  
  #icon:hover {
    color: #0066cc;
  }

#overlay 
{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text
{
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
}

#button
{
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 25px;
    background-color: #0066cc;
    color: white;
    transform: translate(-50%,-50%);
}

#button:hover
{
    background-color: black;
    color: white;
}
  
