<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Archery</title>
    <link rel="shortcut icon" href="/img/darts.png">

    <!--CSS/JS-->

    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
    <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
    <script th:inline="javascript" src="/js/all.js"></script>
    <link rel="stylesheet" href="/css/index.css">

    <!--Icons-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body class="c-app" id="body" onload="createUserForm()">
<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-title">Optionen</li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/">
            <i style="margin-right: 10px;" class="fas fa-home"></i>Start</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/parcours">
            <i style="margin-right: 10px;" class="fas fa-bullseye"></i>Parcoure</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/logout">
            <i style="margin-right: 10px;" class="fas fa-sign-out-alt"></i>Abmelden</a></li>
    </ul>
</div>
<div class="c-wrapper c-fixed-components">
    <header class="c-header c-header-light c-header-fixed c-header-with-subheader">

        <img src="/img/Logo_VGSP_transparent.png" width="120" height="50" onclick="location.href='/'">

        <ul class="c-header-nav ml-auto mr-1">
            <li class="c-header-nav-item dropdown"><a class="c-header-nav-link" data-toggle="dropdown" href="#"
                                                      role="button" aria-haspopup="true" aria-expanded="false">
                Benutzername
                <div class="c-avatar"><!--img class="c-avatar-img" src="assets/img/avatars/1.jpg"--><i
                        class="fas fa-user"></i></div>
            </a>
                <div class="dropdown-menu dropdown-menu-right pt-2">
                    <a class="dropdown-item" href="/">
                        <i class="fas fa-home"></i> Start</a>
                    <a class="dropdown-item" href="/account">
                        <i class="fas fa-user-alt"></i> Konto</a>
                    <a class="dropdown-item" href="users">
                        <i class="fas fa-users"></i> Users</a>
                    <a class="dropdown-item" href="/parcours">
                        <i class="fas fa-bullseye"></i> Parcoure</a>
                    <a class="dropdown-item" href="/logout">
                        <i class="fas fa-sign-out-alt"></i> Abmelden</a>
                </div>
            </li>
        </ul>
    </header>
    <div class="c-body" style="overflow: scroll;">
        <main class="c-main">
            <div class="container-fluid">
            </div>
        </main>

        <footer class="c-footer">
            <div><a href="impressum.html">Archery</a> &copy; 2020 VGSP</div>
        </footer>

    </div>
</div>

<script th:inline="javascript">
    //List all users on index.html
    function createUserForm() {
        let form = document.createElement("form");

        let idName = [[${user.userId}]];

        let list = [[${list}]];

        console.log(idName);

        let h2 = document.createElement("h2");
        h2.style = "color: #0066cc";
        h2.innerHTML = "Benutzer auswählen:";
        form.append(h2);

        let index = 0;

        for (let listElement of list) {
            let checkboxButton = document.createElement("input");
            checkboxButton.type = "checkbox";
            checkboxButton.id = (idName + index);
            checkboxButton.value = (idName + index);
            form.append(checkboxButton);
            let label = document.createElement("label");
            label.innerHTML = (' ' + listElement.nickname);
            label.htmlFor = (idName + index);

            form.append(label);

            let br = document.createElement("br");
            form.append(br);
            index++;
        }

        br = document.createElement("br");
        form.append(br);

        h2 = document.createElement("h2");
        h2.style = "color: #0066cc";
        h2.innerHTML = "Parcour auswählen:";
        form.append(h2);
        
        document.getElementsByClassName("container-fluid")[0].appendChild(form);

        let select = document.createElement("select");
        select.name = "parcours";
        select.id = "parcours";
        select.style = "width: 220px"

        let parcours = [[${parcours}]];

        for (let parcour of parcours) {
            let option = document.createElement("option");
            option.value = (parcour.parcourId);
            option.innerHTML = (parcour.parcourName + " (" + parcour.location + ")");

            select.append(option);
        }

        document.getElementsByClassName("container-fluid")[0].appendChild(select);

        br = document.createElement("br");
        document.getElementsByClassName("container-fluid")[0].appendChild(br);

        h2 = document.createElement("h2");
        h2.style = "color: #0066cc";
        h2.innerHTML = "Zählweise auswählen:";
        document.getElementsByClassName("container-fluid")[0].appendChild(h2);

        let select = document.createElement("select");
        select.name = "arrowScoring";
        select.id = "arrowScoring";
        select.style = "width: 220px";

        let optionScoring2 = document.createElement("option");
        optionScoring2.value = "optionScoring2";
        optionScoring2.innerHTML = "2";
        select.append(optionScoring2);

        let optionScoring3 = document.createElement("option");
        optionScoring3.value = "optionScoring3";
        optionScoring3.innerHTML = "3";
        select.append(optionScoring3);

        document.getElementsByClassName("container-fluid")[0].appendChild(select);

        br = document.createElement("br");
        document.getElementsByClassName("container-fluid")[0].appendChild(br);
        br = document.createElement("br");
        document.getElementsByClassName("container-fluid")[0].appendChild(br);

        let button = document.createElement("button");
        button.setAttribute('onclick', 'onclickStartEvent()');
        button.style.borderRadius = "11px";
        button.innerHTML = "Event starten";

        document.getElementsByClassName("container-fluid")[0].appendChild(button);
    }
</script>
</body>
</html>