<!DOCTYPE html>

<html lang="en">
<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Archery</title>
  <link rel="shortcut icon" href="../assets/img/darts.png">

  <!--CSS-->

  <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
  <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
  <script src="../js/all.js"></script>
  <link rel="stylesheet" href="../css/index.css">

  <!--Icons-->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="c-app" id="body" onload="createParcourList()">
<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">Optionen</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="index.html">
      <i style="margin-right: 10px;" class="fas fa-home"></i>Start</a></li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="parcours.html">
      <i style="margin-right: 10px;" class="fas fa-bullseye"></i>Parcoure</a></li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="start.html">
      <i style="margin-right: 10px;" class="fas fa-sign-out-alt"></i>Abmelden</a></li>
  </ul>
</div>
<div class="c-wrapper c-fixed-components">
  <header class="c-header c-header-light c-header-fixed c-header-with-subheader">

    <img src="../assets/img/Logo_VGSP_transparent.png" width="120" height="50" onclick="location.href='index.html'">

    <ul class="c-header-nav ml-auto mr-1">
      <li class="c-header-nav-item dropdown"><a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Benutzername<div class="c-avatar"><i class="fas fa-user"></i></div>
      </a>
        <div class="dropdown-menu dropdown-menu-right pt-2">
          <a class="dropdown-item" href="index.html">
            <i class="fas fa-home"></i> Start</a>
          <a class="dropdown-item" href="account.html">
            <i class="fas fa-user-alt"></i> Konto</a>
          <a class="dropdown-item" href="users.html">
            <i class="fas fa-users"></i> Users</a>
          <a class="dropdown-item" href="parcours.html">
            <i class="fas fa-bullseye"></i> Parcoure</a>
          <a class="dropdown-item" href="start.html">
            <i class="fas fa-sign-out-alt"></i> Abmelden</a>
        </div>
      </li>
    </ul>
  </header>
  <div class="c-body" style="overflow: scroll;">
    <main class="c-main">
      <div class="container-fluid"></div>
    </main>
    <footer class="c-footer">
      <div><a href="impressum.html">Archery</a> &copy; 2020 VGSP</div>
    </footer>
  </div>

</div>
</div>
</body>
</html>