<!DOCTYPE html>

<html lang="en">
<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Archery</title>
  <link rel="shortcut icon" href="assets/img/darts.png">

  <!-- Main styles for this application-->
  <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
  <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>

</head>
<body class="c-app flex-row align-items-center">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <h1>Passwort zurücksetzen</h1>
            <p class="text-muted"></p>
            <div class="input-group mb-3">
              <div class="input-group-prepend"></div>
              <input id="usernameField" class="form-control" type="text" placeholder="E-Mail Adresse">
            </div>
            <div class="row">
              <div class="col-6">
                <button onclick="" class="btn btn-primary px-5" type="button" style="background-color: green; border-color: green;">Bestätigungs-Email senden</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>