<!DOCTYPE html>

<html lang="en">
<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Archery</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Main styles for this application-->
  <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
  <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
</head>

<body class="c-app flex-row align-items-center">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mx-4">
        <div class="card-body p-4">
          <h1>Registrieren</h1>
          <p class="text-muted">Einen neuen Benutzer registrieren</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend"></div>
            <input class="form-control" type="text" placeholder="Vorname">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend"></div>
            <input class="form-control" type="password" placeholder="Passwort">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend"></div>
            <input class="form-control" type="text" placeholder="Nickname">
          </div>
          <button class="btn btn-block btn-success" type="button" style="background-color: green;">Benutzer erstellen</button>
        </div>
        <div class="card-footer p-4">
          <div class="row">
            <div class="col-12">
              <button class="btn btn-block btn-google" type="button"><i class="fab fa-google"></i><span> Mit Google anmelden</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>