<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Archery</title>
    <link rel="shortcut icon" href="/img/darts.png">

    <!-- Main styles for this application-->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
    <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
</head>

<body class="c-app flex-row align-items-center" style="background-color: white;">
    <div style="margin:0 auto;">
        <h1 style="font-size: 100px;">Anmelden</h1>
        <div class="input-group mb-3">
            <input id="usernameField" name="usernameField" class="form-control" type="text" placeholder="Nickname" style="height: 100px;">
            </div>
            <div class="input-group mb-4">
                <input id="passwordField" class="form-control" type="password" placeholder="Passwort" style="height: 100px;">
            </div>
            <div>
                <button onclick="login()" class="btn btn-primary px-5" 
                style="background-color: green; border-color: green; width: 100%; margin-bottom: 20px; height: 100px; font-size: x-large;">Anmelden</button>
            </div>
            <div>
                <button onclick="location.href = '/register'" class="btn btn-primary px-5"
                style="background-color: #0066cc; border-color: #0066cc; width: 100%; height: 100px; font-size: x-large;">Registrieren</button>
            </div>
    </div>

<script th:inline="javascript">
    function login() {
        let username = document.getElementById("usernameField").value;
        let password = document.getElementById("passwordField").value;
        location.href = `/login?username=${username}&password=${password}`;
    }
</script>
</body>
</html>