<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Archery</title>
    <link rel="shortcut icon" href="/img/darts.png">

    <!-- Main styles for this application-->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
    <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
</head>

<body class="c-app flex-row align-items-center">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h1>Anmelden</h1>
                        <p class="text-muted">Mit einem bestehenden Benutzer anmelden</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend"></div>
                            <input id="usernameField" class="form-control" type="text" placeholder="Nickname">
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend"></div>
                            <input id="passwordField" class="form-control" type="password" placeholder="Passwort">
                        </div>
                        <div class="row">
                            <div style="margin-left: 13px;">
                                <button onclick="location.href = '/passwordreset'" class="btn btn-primary px-5"
                                        type="button" style="background-color: red; border-color: red;">Passwort
                                    vergessen
                                </button>
                            </div>

                            <div style="margin-left: 13px; margin-top: 10px;">
                                <button th:onclick=""
                                        class="btn btn-primary px-5" type="button"
                                        style="background-color: green; border-color: green;">Anmelden
                                </button>
                            </div>
                            <div style="margin-left: 13px; margin-top: 10px;">
                                <button onclick="location.href = '/register'" class="btn btn-primary px-5" type="button"
                                        style="background-color: #0066cc; border-color: #0066cc;">Registrieren
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>